.App {
  background-color: #ffffff;
  font-family: 'Spartan', sans-serif;
}

.nav-container {
  width: 100%;
  height: 5rem;
  background-color: #ffffff;
  box-shadow: rgb(0 0 0 / 5%) 0px 10px 20px, rgb(0 0 0 / 20%) 0px 0px 1px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.navigation a {
  text-decoration: none;
}

.nav {
  width: 68rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.scrolled {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
  width: 100%;
}

.collection-card-container {
  width: 49.5%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #faf9f7;
  font-weight: 300;
  position: relative;
  font-family: "Graphik Web Medium",sans-serif
}

.collection-image {
  width: 100%;
  height: auto;
}

.collection-title {
  color: #ffffff;
  position: absolute;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 1rem;
  top: 0;
}

.collection-container {
  max-width: 68rem;
  margin: 5rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filter-container-btn {
  display: flex;
  justify-content: center;
}

.btn {
  border: 1px solid #ced4d6;
  color: #000000;
  background-color: #ffffff;
  margin: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.load-more-btn {
  display: flex;
  padding: 0.75rem 1.5rem;
  border: 1px solid #ced4d6;
  color: #000000;
  background-color: #ffffff;
  border-radius: 1rem;
  font-weight: 1rem;
  font-weight: bold;
}

/* card */
.card-container {
  width: 33%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  position: relative;
  text-align: left;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-text {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  position: absolute;
  margin: 0.5rem;
  top: 0;
  padding: 0.5rem;
}

.card-content-title {
  font-weight: bold;
  margin-bottom: 0;
}

.filter-container {
  max-width: 68rem;
  margin: 5rem 0;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about {
  max-width: 68rem;
  display: flex;
  flex-direction: row;
  background-color: #f5f5f7;
  padding: 7rem 4rem;
}

.about-container {
  background-color: #f5f5f7;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.about img {
  z-index: 1;
  position: relative;
  width: 50%;
  margin-right: 0.15rem;
}

.about .main-about-content {
  background-color: #ffffff;
  width: 50%;
  padding: 7rem 4rem;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 68rem;
  margin: 0 5rem;
}

.hero-container .content {
  padding-bottom: 7rem;
  padding-top: 7rem;
}

.hero-container img {
  width: 100%;
  height: auto;
}

.gallery .gallery-imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery .gallery-imgs img {
  width: 100%;
  height: auto;
  padding: 3rem;
  width: 40%;
}

.gallery .main-gallery-photo {
  position: relative;
  width: 40%;
  text-align: center;
  padding: 3rem;
}

.gallery .main-gallery-photo img {
  width: 100%;
  height: auto;
}

.gallery .main-gallery-photo .gallery-title {
  width: fit-content;
}

.gallery .main-gallery-photo .gallery-txt {
  align-items: center;
  color: #000000;
  font-size: calc(2.2 * 1rem);
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 7%;
  text-align: center;
  z-index: 100;
  transition: opacity ease 200ms;
}

.gallery .main-gallery-photo .gallery-photo-txt-wrapper {
  opacity: 1;
}

.gallery .main-gallery-photo .gallery-photo-wrapper {
  position: relative;
}

.gallery .main-gallery-photo .gallery-photo-txt-wrapper .gallery-photo-txt {
  position: absolute;
  overflow: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 7%;
  text-align: center;
  transition: opacity ease 200ms;
  z-index: 100;
}

.main-gallery {
  padding-bottom: 7rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.main-gallery .gallery-txt {
  color: #000000;
  font-size: calc(2.2 * 1rem);
  font-weight: bold;
}

.main-gallery .content-wrapper .content-imgs .right-column {
  display: flex;
  flex-direction: column;
}

.navbar-links {
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
}

.navbar-links .links {
  align-items: center;
  display: flex;
  font-family: 'Spartan', sans-serif;
  font-weight: 100;
}

.navbar-links .nav-icons {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.navbar-links .nav-icons .icon {
  margin: 1rem;
}

 .navbar-links .title {
  align-items: center;
  display: flex;
  font-family: 'Spartan', sans-serif;
  font-size: 2rem;
  font-weight: 100;
}

.MuiTypography-body1 {
  font-family: 'Spartan', sans-serif;
  font-weight: 100;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-container .content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.landing-container .content-wrapper .content {
  text-align: center;
}

.landing-container .content-wrapper .content .content-imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.landing-container .content-wrapper .content .content-imgs .right-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.landing-container .content .name {
  color: #000000;
  display: flex;
  flex-direction: column;
  font-size: calc((4 - 1) * 1.2vw + 1rem);
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: center;
}

.landing-container .gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  text-align: center;
  width: 100%;
}

.landing-container .main-img-card {
  width: 50%;
  height: auto;
  position: relative;
  margin-right: 0.15rem;
}

.landing-container .main-img-card img {
  width: 100%;
  height: auto;
}

.landing-container .main-img-card-two {
  width: 100%;
  height: auto;
  position: relative;
}

.landing-container .main-img-card-two img {
  width: 100%;
  height: auto;
  opacity: 0.9;
}

.landing-container .content-wrapper .content .main-img-card-two .gallery-txt {
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 7%;
  z-index: 100;
  transition: opacity ease 200ms;
  opacity: 0.8;
  color: #000000;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.main-gallery-photo .link {
  font-size: 18px;
  margin-top: 30px;
  color: #000000;
  text-decoration: none;
  position: relative;
  font-weight: lighter;
  width: fit-content;
}

.main-gallery-photo  .link:after {
  background-color: #000000;
  bottom: -7px;
  height: 1px;
  content: '';
  width: 100%;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

 .landing-container .content-wrapper .content .main-img-card-two .gallery-txt .link {
  font-size: 18px;
  margin-top: 30px;
  color: #000000;
  text-decoration: none;
  position: relative;
  font-weight: lighter;
  width: fit-content;
}

 .landing-container .content-wrapper .content .main-img-card-two .gallery-txt .link:after {
  background-color: #000000;
  bottom: -7px;
  height: 1px;
  content: '';
  width: 100%;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

 .landing-container .content-wrapper .content .main-img-card .gallery-txt {
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 7%;
  z-index: 100;
  transition: opacity ease 200ms;
  opacity: 0.8;
  color: #000000;
  display: flex;
  flex-direction: column;
  text-align: left;
}

 .landing-container .content-wrapper .content .main-img-card .gallery-txt .link {
  font-size: 18px;
  margin-top: 30px;
  color: #000000;
  text-decoration: none;
  position: relative;
  font-weight: lighter;
  width: fit-content;
}

 .landing-container .content-wrapper .content .main-img-card .gallery-txt .link:after {
  background-color: #000000;
  bottom: -7px;
  height: 1px;
  content: '';
  width: 100%;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

 .landing-container .gallery .gallery-title {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  font-family: 'Spartan', sans-serif;
  flex-wrap: wrap;
  font-size: 2rem;
  font-weight: 100;
  left: 50%;
  position: absolute;
  top: 50%;
}

 .landing-container .gallery .gallery-photo {
  bottom: 4vw;
  color: #ffffff;
  font-family: 'Spartan', sans-serif;
  font-weight: 100;
  height: 53.25rem;
  position: relative;
  text-align: center;
  top: 4vw;
  width: 78rem;
}

 .nav-bar .MuiAppBar-colorPrimary {
  background-color: #ffffff;
  color: #282D30;
  margin: 0;
}

 .nav-bar .MuiToolbar-root {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

 .nav-bar {
  background-color: #282D30;
  left: 0;
  overflow: hidden;
  top: 0;
  max-width: 68rem;
  z-index: 9999;
}

 .footer-wrapper {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 19rem;
  justify-content: center;
  padding: 2.2vw 4vw;
  width: auto;
}

 .nav-bar .MuiToolbar-root .links {
  display: flex;
  flex-direction: row;
  font-size: 19px;
  list-style: none;
}

 .nav-bar .MuiToolbar-root .links .link {
  color: #041e42;
  margin: 1rem;
}

 .nav-bar .MuiToolbar-root .links .link a {
  color: #000000;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
}

 .MuiPaper-elevation4 {
  box-shadow: none;
}

.nav-bar .MuiDrawer-paper {
  align-items: baseline;
  width: 100%;
}

 .nav-bar .MuiList-root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

 .photos {
  display: flex;
  flex-direction: row;
}


@media only screen and (max-width: 1200px) {
  .filter-container {
    max-width: 48rem;
  }
  .nav {
    max-width: 48rem;
  }
  .hero-container {
    max-width: 48rem;
  }
  .about-container {
    max-width: 48rem;
  }
}

@media only screen and (max-width: 768px) {
  .filter-container {
    max-width: 24rem;
    text-align: center;
  }
  .card-container {
    width: 100%;
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  .about img {
    width: 100%; 
  }
  .filter-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav {
    max-width: 24rem;
  }
  .hero-container {
    max-width: 24rem;
  }
  .about-container {
    max-width: 24rem;
  }
}

@media only screen and (max-width: 600px) {
  .filter-container {
    max-width: 20rem;
  }
  .nav {
    max-width: 20rem;
  }
  .hero-container {
    max-width: 20rem;
  }
  .about-container {
    max-width: 20rem;
  }
}


/* @media (max-width: 1200px) {
  .App .photos {
    display: flex;
    flex-direction: column;
  }

  .App .photos .photo {
    margin: 0;
    margin-bottom: 5rem;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .App .nav-bar .MuiButtonBase-root  {
    display: none;
  }
  .makeStyles-drawer-6 {
    display: none;
  }
}

@media (max-width: 768px) {
  .App .landing-container .content-wrapper .content .content-imgs {
    flex-direction: column;
  }
  .App .about {
    flex-direction: column;
  }
  .App .landing-container .main-img-card {
    margin-right: 0;
    padding-bottom: 4rem;
    width: 100%;
  }
  .App .landing-container .content-wrapper .content .content-imgs .right-column {
    width: 100%;
  }
  .App .landing-container .content-wrapper .content .content-imgs .right-column .main-img-card-two {
    padding-bottom: 4rem;
    width: 100%;
  }
  .App .about img {
    margin-bottom: 4rem;
    width: 100%;
  }
  .App .about .main-about-content {
    padding-bottom: 4rem;
    width: auto;
  }
  .App .main {
    padding-bottom: 4rem;
  }
}

@media (max-width: 1025px) {
  .App .gallery .main-gallery-photo {
    width: auto;
  }
  .App .gallery .gallery-imgs img {
    padding: 0;
    padding-bottom: 4rem;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .mobile-nav-list {
    display: flex;
    flex-direction: column;
  }
  .MuiListItem-root a {
    color: #041e42;
    text-decoration: none;
  }
  .MuiListItem-root a:hover {
    color: #041e42;
    text-decoration: underline;
  }
  .makeStyles-drawerHeader-8  {
    justify-content: flex-start;
  }
  .MuiList-root .mobile-nav-list .MuiList-padding {
    margin: 0 auto;
  }
  .App .nav-bar .MuiDrawer-paper {
    align-items: left;
    color: #041e42;
  }
  .App .nav-bar .MuiToolbar-root .links {
    display: none;
  }
  .App .nav-bar .MuiToolbar-root .date-details {
    display: none;
  }
  .App .nav-bar .MuiToolbar-root {
    display: flex;
    flex-direction: row;
  }
  .App .nav-bar .MuiToolbar-root .makeStyles-menuButton-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
} */
